.company-button {
    border:none;
    color:  #afc4d5;
    font-size: 24px;
    font-family: Helvetica;
}

.company-button:hover {
    cursor: pointer;
    color: #8ab3d4;
    transform: scale(1.2);
}

.remove-button {
    border:none;
    color: #afc4d5;
    font-size: 24px;
    float: right;
    position: relative;
    bottom: 1px;
    right: 20px;
}

.remove-button:hover {
    cursor: pointer;
    color: #8ab3d4;
    transform: scale(1.2);
}

.recycled {
    margin-left: 10px;
}

.recycled button {
    font-size: 16px;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
}

.recycled .company-button {
    font-size: 16px;
    text-decoration: line-through;
}

.recycled-remove-button {
    margin-left: 10px;
    border: none;
    text-decoration: none;
}

.recycled-remove-button:hover {
    cursor: pointer;
    transform: scale(1.1);
}